@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans-kr), var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --color-central-navy: #1C2B59;
  --color-central-sky: #87CEEB;
  --color-central-gold: #D3A74D;
}

body {
  font-family: var(--font-sans);
}
